keys=(
  ALCHEMY_API_KEY
  ETHERSCAN_API_KEY
  PUBLIC_WALLET_CONNECT_PROJECT_ID
)

for key in "${keys[@]}"; do
  export $key=$(getSecret $key)
done

export PUBLIC_ALCHEMY_API_KEY=$ALCHEMY_API_KEY
export PUBLIC_BURNER_WALLET_KEY=0x8b3a350cf5c34c9194ca85829a2df0ec3153be0318b5e2d3348e872092edffba

